#root{
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: calc(5px + 2vmin);
}

.table-responsive-xl{
  min-height: 60vh;
}
form.container-lg{
  max-width: 450px;
}
.navbar{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.todolist-btn:hover, .todolist-btn svg:hover{
  color: #ffc107; /* bootstrap's warning color */
  fill: #ffc107; /* set color icon react-icons */
  cursor: pointer;
}

#textareaComment{
  resize: none;
}

#ulExample > li{
  display: flex;
  align-items: center;
  justify-content: center;
}

#ulExample > li > figure{
  width: 15px;
  height: 15px;
  margin: 0 .5rem;
  opacity: .5;
  border-radius: 25%;
}
